* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #bb7070;
  --main-point-color: #7e5454;
  --main-sub-color: #eadfdf;
  --main-font-collr: #ffffff;
  --ref-green: #64973c;
  --ref-red: #d64747;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
}
